<style src="./post_list.scss" lang="scss"></style>
<template src="./post_list.html"></template>
<script type="text/javascript">
  import { mapState } from 'vuex';
  import moment from 'moment';

  export default {
    name: 'postList',
    data() {
      return {
        perPage: 3,
        page: 1,
        loading: false,
      };
    },
    computed: {
      canLoadMore() {
        return this.metadata.page < this.metadata.pages;
      },
      ...mapState({
        posts: state => state.posts.posts,
        metadata: state => state.posts.meta,
      }),
    },
    mounted() {
      this.listPosts();
    },
    methods: {
      parseDate(dateString) {
        const date = moment(dateString);
        return date.format('MMM D, HH:mm');
      },
      listPosts() {
        this.loading = true;
        this.$store.dispatch('listPosts', {
          params: {
            perPage: this.perPage,
            page: this.page,
          },
          cb: () => {
            this.loading = false;
          },
          cberror: () => {
            this.loading = false;
          },
        });
      },
      loadMorePosts() {
        this.page = this.metadata.page + 1;
        this.listPosts();
      },
    },
  };

</script>
