@import '../../../stylesheets/variables';

.post-list {
  overflow: auto;
  height: calc(100% - 64px);

  .post-list-container {
    padding: 0 20px;
  }

  .post-list-element {
    margin: 20px auto;
    max-width: 740px;
    z-index: 0;
    .post-list-element-date {
    }
  }

  .post-list-actions {
    width: 100%;
    display: flex;

    .post-list-more-posts {
      margin: 10px auto;
      background-color: $button-main-bg !important;
      color: #fff !important;
    }
  }
}