<div class="post-list">
        <md-progress class="md-accent" md-indeterminate v-show="loading"></md-progress>
        <div class="post-list-container">
            <md-card v-for="post in posts" class="post-list-element" :key="post.id">
            <md-card-header>
                <div class="md-title">{{ post.title }}</div>
            </md-card-header>
            <md-card-content>
               {{ post.message }}
            </md-card-content>
            <md-card-actions>
                <div class="md-subheader post-list-element-date">{{ parseDate(post.createdOn) }}</div>
            </md-card-actions>
            </md-card>
            <div class="post-list-actions">
                <md-button class="md-raised post-list-more-posts" v-show="canLoadMore" @click.native="loadMorePosts">View more</md-button>
            </div>
            <router-link exact to="/posts/creation">
                <md-button class="md-fab md-fab-bottom-right">
                        <md-icon>add</md-icon>
                </md-button>
            </router-link>
        </div>
</div>