<style src="../stylesheets/app.scss" lang="scss"></style>
<template>
    <div id="app">
        <md-whiteframe md-tag="md-toolbar" md-elevation="2" class="md-transparent">
            <router-link exact to="/posts">
                <md-image :md-src="src" class="app-logo"></md-image>
            </router-link>
        </md-whiteframe>

        <router-view></router-view>

        <md-snackbar md-position="bottom center" ref="snackbar" :md-duration="4000" class="snackbar-ok">
            <span>{{ message }}</span>
        </md-snackbar>
        <md-snackbar md-position="bottom center" ref="snackbarError" :md-duration="4000" class="snackbar-error">
            <span>{{ errorMessage }}</span>
        </md-snackbar>
    </div>
</template>
<style lang="scss">
@import '../stylesheets/variables';
body, html {
    overflow: hidden;
    height: 100%;
    min-height: 100%;
}
#app {
    height: 100%;
    min-height: 100%;
    transition: all .4s cubic-bezier(.25, .8, .25, 1);

    .md-toolbar {
        max-height: 64px;
        z-index: 3;
    }

    a {
        margin: 0 auto;
    }

    .app-logo {
        height: 100px;
    }
}

.snackbar-error .md-snackbar-container  {
    background-color: $error-color;
}
.snackbar-ok .md-snackbar-container {
    background-color: $ok-color;
}
</style>
<script>
  import { mapState } from 'vuex';
  import * as types from '../store/mutation-types';

  export default {
    name: 'App',
    computed: mapState({
      message: state => state.app.message,
      errorMessage: state => state.app.errorMessage,
    }),
    data() {
      return {
        src: '/static/img/logo.png',
      };
    },
    created() {
      this.$store.subscribe((mutation) => {
        if (types.SHOW_MESSAGE === mutation.type) {
          this.showMessage();
        }

        if (types.SHOW_ERROR_MESSAGE === mutation.type) {
          this.showErrorMessage();
        }
      });
    },
    methods: {
      showMessage() {
        this.$refs.snackbar.open();
      },
      showErrorMessage() {
        this.$refs.snackbarError.open();
      },
    },
  };
</script>
