@import '../../../stylesheets/variables';

.post-creation {
  .post-creation-container {
    padding: 0 20px;
  }
  .post-creation-card {
    margin: 20px auto;
    max-width: 740px;
  }
  .post-creation-button-list {
    color: $button-main-bg !important;
    position: absolute;
    left: 8px;
    text-transform: none !important;
  }
  .post-creation-button-create {
    background-color: $button-main-bg !important;
  }
}