<style src="./post_creation.scss" lang="scss"></style>
<template src="./post_creation.html"></template>
<script type="text/javascript">
  export default {
    name: 'postCreation',
    data() {
      return {
        post: {
          title: '',
          message: '',
        },
        creating: false,
      };
    },
    computed: {
      isCreating() {
        return this.creating;
      },
    },
    methods: {
      create() {
        this.$validator.validateAll().then(
          (errors) => {
            if (errors === true && this.creating === false) {
              this.creating = true;
              this.$store.dispatch('createPost', {
                params: {
                  title: this.post.title,
                  message: this.post.message,
                },
                cb: () => {
                  this.post.title = '';
                  this.post.message = '';
                  this.$validator.clean();
                  this.creating = false;
                },
                cberror: () => {
                  this.creating = false;
                },
              });
            }
          },
        );
      },
    },
  };

</script>
