<div class="post-creation">
    <md-progress :md-progress="progress" v-show="isCreating" md-indeterminate></md-progress>
    <div class="post-creation-container">
        <md-card class="post-creation-card">
            <md-card-header>
                <div class="md-title">New post</div>
            </md-card-header>
            <md-card-content>
                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container :class="{'md-input-invalid': errors.has('title')}">
                        <label>Title</label>
                        <md-input placeholder="Title"
                                  v-model="post.title"
                                  data-vv-name="title"
                                  v-validate="'required|postTitleMaxLength'"
                                  maxlength="100"
                        ></md-input>
                        <span v-show="errors.has('title')" class="md-error">{{ errors.first('title') }}</span>
                    </md-input-container>

                    <md-input-container :class="{'md-input-invalid': errors.has('message')}">
                        <label>Message</label>
                        <md-textarea
                                v-model="post.message"
                                data-vv-name="message"
                                v-validate="'required'"></md-textarea>
                        <span v-show="errors.has('message')" class="md-error">{{ errors.first('message') }}</span>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions>
                    <router-link exact to="/posts">
                        <span class="post-creation-button-list">Go to list</span>
                    </router-link>
                <md-button class="md-raised md-primary post-creation-button-create" @click="create">Create</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>