<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>inSided &middot; Forum</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

    <meta name=mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <meta name=apple-mobile-web-app-title content="Material Design Lite">
    <meta name=msapplication-TileColor content=#3372DF>

    <link href="http://insided.com/images/favicon-32x32-2f286fea2f.png" rel="shortcut icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel=stylesheet>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel=stylesheet>

    {% if 'prod' == app.environment %}
        <link href="{{ absolute_url(appCss) }}" rel=stylesheet>
    {% endif%}
</head>
<body>
<div id=app v-cloak></div>
{% if 'prod' == app.environment %}
    <script type=text/javascript src="{{ absolute_url(manifestJs) }}" ></script>
    <script type=text/javascript src="{{ absolute_url(vendorJs) }}" ></script>
    <script type=text/javascript src="{{ absolute_url(appJs) }}" ></script>
{% else %}
    <script type="text/javascript" src="http://localhost:8080/app.js"></script>
{% endif %}
</body>
</html>